<!-- @format -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title> <%= title %> </title>
		<!-- links-------------------------- -->
		<link rel="stylesheet" href="\public\admin_styles.css" />
		<script
			src="https://kit.fontawesome.com/b7a2ac83f3.js"
			crossorigin="anonymous"
		></script>
	</head>

	<body>
		<div class="main">
			<aside>
				<div class="logo">
					<a href="/">
						<img
							src="https://www.dolphincoveja.com/Content/src/dc-logo.png"
							alt="dolphin_cove_logo"
						/>
					</a>
				</div>
				<br /><br />
				<div class="admin_info">
					<img
						src="https://i.pinimg.com/originals/d0/53/f2/d053f2394d420d8d3712046f4e8f80cc.jpg"
						alt="admin_pic"
					/>

					<div class="admin_name">
						<h3> Admin </h3>
					</div>
				</div>
				<br /><br />
				<p class="tables">
					<i class="fa-solid fa-table-cells"></i>
					Tables
				</p>
				<!-- <br> -->
				<p class="table">
					<a href="reservations"> Reservations </a>
				</p>
				<p class="table">
					<a href="tour_companies"> Tour Companies </a>
				</p>
				<p class="table">
					<a href="programs"> Programs </a>
				</p>

				<a href="admin/admin_logout">Log out</a>
			</aside>

			<div class="content">
				<div class="content_head">
					<!-- <h2>Tour Companies Table</h2> -->
					<a href="/admin/reservations">
						<i class="fa-solid fa-angle-left"></i>
						Reservations</a
					>
				</div>
				<br />
				<div class="content_edit add_form">
					<form action="/admin/updateres" method="post">
						<h2>Edit Reservation</h2>
						<br />
						<div>
							<label for="hotel_name">Hotel Name</label>
							<select name="hotel_name" id="hotel_name">
								<% for( let i=0; i < reservations.length; i++ ) { %>
								<option value="<%= reservations.hotel_id %> ">
									<%= reservations.hotel_name %>
								</option>
								<% } %>
							</select>
						</div>
						<br />
						<div>
							<label for="frst_nm">First Name</label>
							<input
								type="text"
								name="frst_nm"
								id="frst_nm"
								value="<%= reservations.frst_nm %> "
							/>
						</div>
						<br />
						<div>
							<label for="last_nm">Last Name</label>
							<input
								type="text"
								name="last_nm"
								id="last_nm"
								value="<%= reservations.last_nm %> "
							/>
						</div>
						<br />
						<div>
							<label for="guests_numb">Guests Number</label>
							<input
								type="number"
								name="guests_numb"
								id="guests_numb"
								value="<%= reservations.guests_numb %> "
							/>
						</div>
						<br />
						<div>
							<label for="program_name">Program</label>
							<select name="program_name" id="program_name">
								<% for( let i=0; i < reservations.length; i++ ) { %>
								<option value="<%= reservations.program_id %> ">
									<%= reservations.program_name %>
								</option>
								<% } %>
							</select>
						</div>
						<br />
						<div>
							<label for="method_name">Payment Method</label>
							<select name="method_name" id="method_name">
								<% for( let i=0; i < reservations.length; i++ ) { %>
								<option value="<%= reservations.method_id %> ">
									<%= reservations.method_name %>
								</option>
								<% } %>
							</select>
						</div>
						<br />
						<div>
							<label for="comp_name">Tour Company</label>
							<select name="comp_name" id="comp_name">
								<% for( let i=0; i < reservations.length; i++ ) { %>
								<option value="<%= reservations.comp_id %> ">
									<%= reservations.comp_name %>
								</option>
								<% } %>
							</select>
						</div>
						<br />
						<div class="add_btn">
							<input type="submit" value="Update" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
